.loader {
	z-index: 200;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

	&.show {
		backdrop-filter: blur(3px);
		visibility: visible;
		opacity: 1;
	}

}
