.container {
	display: flex;
	width: 50%;
	align-items: flex-start;
	justify-content: space-between;
  flex-wrap: wrap;

	@media (max-width:800px) {
		width: 80%;
	}

  @media (max-width:600px) {
		width: 100%;
	}

}

.block {
  margin-right: 20px;
}

.title {
	color: var(--font-secondary);
	margin-bottom: 20px;
}
