.container {
	margin: 50px 0 150px;
	display: flex;
	justify-content: space-between;
	gap: 20px;

	@media (max-width:800px) {
		flex-direction: column;
	}

}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	p {
		margin-bottom: 20px;
	}

	a {
		text-decoration: underline;
	}

}

.title {
	color: var(--font-secondary);
	display: inline-block;
	width: 150px;
	flex-shrink: 0;
}

.block {
	display: flex;
	width: 50%;

	@media (max-width:800px) {
		width: 100%;
	}

}

.list {
	@media (max-width:800px) {
		& > li {
			margin-bottom: 10px;
		}

	}

}

span.lang {
	display: inline-block;
	width: 90px;
}

li.lang {
	margin: 0;
}
