.container {
	display: flex;
	width: 85%;
	margin: 100px 0;
  position: relative;
  justify-content: space-between;
}

.type {
  padding-bottom: 20px;
}

.position {
	font-weight: 600;
}

.title {
  padding-bottom: 20px;
	color: var(--font-secondary);
}

.achievements {
	width: 65%;
}

.info {
  width: 30%;
}

.desc {
  color: var(--font-secondary);
}