@import "./vars.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: var(--font-main);
	letter-spacing: 1px;
	line-height: 1.7;
	font-size: 12px;
}

body {
	margin: var(--header-height) 0 0;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

section {
	padding-top: 80px;
}

p {
	margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: inherit;
	letter-spacing: inherit;
  line-height: inherit;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
