:root {
  /* color */
  --bg-main: #ffffff;

  --bg-active: #d6b250;
  --bg-active-light: #d9bf76;

  --clr-architect: #ba785a;
  --clr-architect-light: #c18b72;

  --clr-design: #c2ae97;
  --clr-design-light: #c4bbb0;

  --font-main: #222222;
  --font-light: #ffffff;
  --font-secondary: #8e8e8e;
  --font-placeholder: #bebebe;
  --font-disabled: #e1dfdf;

  /* size */
  --header-height: 60px;

  --input-padding: 1px 10px;
  --input-border: 1px solid var(--font-secondary);
  --common-border: 1px solid transparent;
}