:root {
  /* color */
  --bg-main: #ffffff;

  --bg-active: #7bdafd;
  --bg-active-light: #a4e4fc;

  --clr-architect: #cdcdcd;
  --clr-architect-light: #dadada;

  --clr-design: #f485bd;
  --clr-design-light: #f5a2cb;

  --font-main: #222222;
  --font-light: #ffffff;
  --font-secondary: #8e8e8e;
  --font-placeholder: #bebebe;
  --font-disabled: #e1dfdf;

  /* size */
  --header-height: 60px;

  --input-padding: 1px 10px;
  --input-border: 1px solid var(--font-secondary);
  --common-border: 1px solid transparent;
}