:root {
  /* color */
  --bg-main: #ffffff;

  --bg-active: #62dde3;
  --bg-active-light: #99e6ea;

  --clr-architect: #63e3a9;
  --clr-architect-light: #93e3bf;

  --clr-design: #e26ff2;
  --clr-design-light: #e692f1;

  --font-main: #222222;
  --font-light: #ffffff;
  --font-secondary: #8e8e8e;

  /* size */
  --header-height: 60px;
}