.container {
	display: flex;
	width: 60%;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 50px;

	@media (max-width:800px) {
		width: 100%;
	}

}

.list {
	flex: 1 1 auto;
	min-width: 120px;
}

.block {
	margin-right: 20px;
}

.title {
	color: var(--font-secondary);
	margin-bottom: 20px;
	text-transform: capitalize;
}

.plus, .save {
	margin-top: 20px;
}

.item > input {
	margin-bottom: 5px;
}