.title {
	font-size: 42px;
	margin-bottom: 5px;
}

.filters {
	margin-bottom: 50px;
}

.img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.about {
	width: 50%;

	@media (max-width:800px) {
		width: 80%;
	}

}

.desc {
	color: var(--font-secondary);
	padding-bottom: 20px;
}
