.header {
  position: fixed;
  z-index: 100;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: var(--bg-main);
  transition: 1s;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &.fullScreen {
    height: 100vh;

  box-shadow: rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 0px ;
  }
}

