.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100vw;
	background-color: var(--bg-main);
	transition: 1s;
	height: var(--header-height);
	/* left: 50%;
	transform: translateX(-50%); */

	&.fullScreen {
		height: 100vh;
	}

}
