.container {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&.center {
		align-items: center;
		padding: 0 50px;
		text-align: center;
	}

	&.left {
		align-items: flex-start;
		text-align: left;
	}

	&.right {
		align-items: flex-end;
		text-align: right;
	}

}
