.nav {
	display: flex;
	gap: 20px;
	color: var(--font-secondary);
}

.link {
	transition: .3s;
	border-bottom: 2px solid transparent;

	&:hover {
		border-color: var(--bg-active);
		color: var(--font-main);
	}

	&:disabled:hover {
		border-bottom: 2px solid transparent;
		cursor: default;
	}

}
