.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home {
  position: absolute;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.list {
  padding: 0;
  display: flex;
  gap: 30px;
  color: var(--font-secondary);
  font-weight: 500;

  .link {
    transition: .3s;
    width: 70px;
    text-align: center;
  
    &:hover {
      color: var(--font-main);
    }

    &:nth-child(2) {
      text-align: start;
    }

    &:last-child {
      text-align: end;
    }
  }
}