nav.nav {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1315px;
}

.list {
	width: 340px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	padding-right: 15px;
}

.invisible {
	width: 30px;
	height: 30px;
}

.home {
	width: 30px;
	height: 30px;
	background-color: var(--font-main);
	visibility: visible;
	opacity: 1;
	transition: 1s;
	transform: translateY(0px);

	&::after {
		content: "";
		height: 15px;
		width: 6px;
		background-color: var(--bg-active);
		position: absolute;
		right: 6px;
		bottom: 0;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
	}

}
