.nav {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40px;
}

.list {
  padding: 0;
  padding-left: 10px;
  display: flex;
  width: 330px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.link {
  color: var(--font-main);
  transition: .3s;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid var(--bg-active);
  }
}