.title {
	display: inline-block;
	width: 100px;
	color: var(--font-secondary);

	&::after {
		content: ":";
	}

}

.save {
	margin-top: 20px;
}

.value {
	width: 235px;
}

.li {
  margin-top: 5px;
	gap: 5px;
	display: flex;
  align-items: center;

	& > span {
		border: 1px solid transparent;
		padding: 5px 10px;
	}

}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--font-secondary);
  padding: 5px 10px;
  width: 100%;
  margin-top: 20px;
  color: var(--font-secondary);
  transition: .3s;
  min-width: 400px;

  &:hover {
    color: var(--font-main);
    border: 1px solid var(--font-main);
  }
}

.list {
  margin-left: -10px;
  width: fit-content;
  position: relative;
}